.container { 
    display: grid; 
    height: 100vh;
    grid-template-rows:1fr 2fr 1fr; 
    grid-template-columns:25% 25% 25% 25%;
    background-color: red;  
  }

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: red;
    font-size: 2em;
    font-weight: bold;
    font-family: Helvetica;
}